/*
// JDICTO
// dictee : exercice de dictée
// Feuille de style : app.css

LICENCE

Copyright Patrick CARDONA 2017

pcardona34@gmail.com

Ce logiciel est un programme informatique permettant de s'exercer à la dictée.

Ce logiciel est régi par la licence CeCILL-C soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-C telle que diffusée par le CEA, le CNRS et l'INRIA
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant
donné sa spécificité de logiciel libre, qui peut le rendre complexe à
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement,
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
pris connaissance de la licence CeCILL-C, et que vous en avez accepté les
termes.

FIN DE LA LICENCE */
body {
    opacity: 0;
    background-color: white;
    font-family: Helvetica, Sans-Serif;
    font-size: 0.8em;
    margin-top: 0;
    padding: 0px;
    clear: both;
}

.chargement {
    opacity: 1;
    transition: opacity 1s;
}

header {
    width: 100%;
    margin: 0px;
    background-color: cornflowerblue;
    top: 0;
    font-size: 0.8em;
    box-shadow: 0px 3px 5px 0px silver;
    border-radius: 0px 0px 7px 7px;
}

header h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 6px;
}

#menu_droit {
    position:absolute;
    top:0;
    right:0;
    margin-top:0.8em;
    margin-right:2em;
    text-align: right;
    display:block;
    opacity:1;
    color:white;

}

fieldset {
    /*border: solid thin cornflowerblue;*/
    border-radius: 5px;
    margin-bottom: 1.2em;
    /*background-color: gainsboro;*/
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

h2 {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: normal;
    padding: 4px;
    border-radius: 5px;
}

h2.deplie::before {
    content: "\25bc ";
    font-size: 0.6em;
}

h2.replie::before {
    content: "\25ba ";
    font-size: 0.6em;
}

h2.deplie:hover {
    cursor: n-resize;
}

h2:hover {
    background-color: white;
    color: cornflowerblue;
    border: cornflowerblue solid thin;
    transition: background-color 1s ease;
    transition: color 0,75s ease;
    font-weight: bold;
    cursor: s-resize;
}

h2.deplie {
    background-color: white;
    border: cornflowerblue solid thin;
    color: cornflowerblue;
}

#barre_actions {
    text-align: right;
    padding-right: 0.8em;
    min-height: 4em;
}

#actions li {
    list-style-type: none;
    display: none;
}

/* Boutons */
#actions li a, #actions li a:visited, #lire, #pause, #fin, #lire_audio, #pause_audio, #fin_audio, input[type=submit] {
    background: linear-gradient(to bottom, #49c0f0, #2cafe3);
    text-decoration: none;
    font-size: 0.8em;
    padding: 8px;
    color: white;
    border-radius: 5px;
}

section, article {
    display: none;
}

section h1, aside h1 {
    color: cornflowerblue;
    font-size: 1.2em;
}

#menu_vertical, #onglets {
    margin-left: 0;
    top: 0;
    left: 0;
    width: 100%;
    /*max-width:400px;*/
}

#menu_vertical ul, #onglets ul {
    margin-left: 0;
    padding-left: 0;
}

#menu_vertical li, #onglets li {
    padding: 6px;
    list-style-type: none;
    /*border: dimgray 0.05px 0 0 0 solid;*/
}

#menu_vertical li a, #menu_vertical li a:visited, #onglets li a, #onglets li a:visited  {
    text-decoration: none;
    color: dimgray;
}

#menu, #menu:visited, #sommaire, #sommaire:visited {
    display: inline;
    color: white;
    text-decoration: none;
}

#aide a, #aide a:visited, #partage a, #partage a:visited {
    color: white;
    text-decoration: none;
}

/* Sommaire */
/* ---------- */
li {
    list-style-type: disc;
    color: cornflowerblue;
}

/* ----------- */
/* Editeur de texte */
#cadre_editeur {
    background-color: lavender;
    border-radius: 5px;
    padding: 2px;
}

#editeur {
    background-color: white;
    width: auto;
    height: 236px;
    padding: 5px;
    overflow: auto;
    border: thin cornflowerblue solid;
}

#editeur:focus {
    outline: 0px solid transparent;
}

#table_spec {
    margin-bottom: 2px;
}

.spec {
    margin-right: 0.6em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    background-color: lavender;
    font-size: 0.8em;
    border: solid thin cornflowerblue;
    border-radius: 5px;
}

.spec:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#compteur {
    margin-top: 6px;
    font-size: 0.6rem;
    text-align: left;
    color: cornflowerblue;
}

/* --------------------------------------------------- */
/* La position du curseur est mémorisée ici et masquée */
#curseur {
    display: none;
}

/* ------------------------------ */
/* La solution complète est masquée */
#solution {
    display: none;
}

/* ------------------------------ */
/* Zone de préférence */
.zone {
    background-color: gainsboro;
    padding: 6px;
    border-radius: 5px;
}

/* ------------------------------ */
/* TEXTE APRES CORRECTION / SOLUTION */
del, s {
    background-color: pink;
    color: red;
    font-size: large;
}

ins, #solution_affichee {
    background-color: aquamarine;
    color: green;
    text-decoration: none;
    padding: 1em;
    border-radius: 7px;
}

#correction {
    border: solid dimgray thin;
}

#solution, #correction {
    padding: 6px;
    border-radius: 5px;
}

/* ------------------------------------------- */
/* PREFERENCES : Zone masquée : indice de la voix de synthèse */
#ma_voix {
    visibility: hidden;
}

/* ------------------------------ */
/* Material icons */
.material-icons {
    vertical-align: middle;
    padding: 6px;
}

.zone_partage {
    background-color: lavender;
    border: solid thin cornflowerblue;
    padding: 6px;
    border-radius: 5px;
}

#lien {
    background-color: white;
    border: solid thin cornflowerblue;
}

#auteur, #prof {
    font-variant: small-caps;
}

#titre {
    color: cornflowerblue;
}

#section_item6 fieldset p {
    color: dimgray;
}




/* ------------------------------*/
/* RWD : écran de taille réduite */
/* ------------------------------*/
@media screen and (max-width: 800px) {
    #menu_vertical, #onglets {
        display: block;
    }

    #menu_vertical li, #onglets li {
    background-color: gainsboro;
    }

    #menu_vertical, #app_short_desc {
        width:100%;
        display: none;
    }

    #onglets {
      width:100%;
    }

    #menu_vertical li:first-child, #onglets li:first-child {
        border-radius: 7px 7px 0px 0px;
    }

    #menu_vertical li:last-child, #onglets li:last-child {
        border-radius: 0px 0px 7px 7px;
    }

    .phrase {
        font-size:x-large;
        border: cornflowerblue solid thin;
        background-color:lavender;
        border-radius:8px;
        padding:0.1em;
    }

    h2 ~ ul {
      padding-left: 0px;
    }

    h2 ~ ul li {
      list-style-type: none;
      display:inline-block;
      margin-right: 8px;
      margin-bottom: 18px;
    }


    h2 ~ ul li a, h2 ~ ul li a:visited {
    border: solid cornflowerblue thin;
    background-color: lavender;
    border-radius: 8px;
    padding:6px;
    }


}
/* Fin écran étroit */

/* ------------------------------*/
/* RWD : écran large             */
/* ------------------------------*/
@media screen and (min-width: 800px) {

    #menu_vertical li, #onglets li {
        display: inline;
        background-color:white;
    }

    #menu_vertical li a:hover, #onglets li a:hover {
        color:cornflowerblue;
    }

    #onglets li {
        border: solid dimgray 0 0 1 1;
        border-radius:7px 7px 0 0;
        margin-bottom:0;
        background-color:lavender;
    }

    #onglets ul {
        border-bottom: solid silver thin;
        padding-bottom:0;
        margin-bottom:10px;
        /*box-shadow: 0px 1px 0px 0px silver;*/
    }

    #onglets i {
        font-size:small;
    }

}

/* --------------------------------- */
/* Justification des § de l'à-propos */
#article_licence p {
    text-align: justify;
}

/* ------------------------------ */
/* ------ Zone de message ------- */
#section_message {
    position: absolute;
    top: 64px;
    width: 85%;
    height:auto;
    padding-left:0px;
    border-radius: 7px;
    min-height:80px;
    display:none;
}

#contenu_message {
    margin: 1em;
    text-align: center;
}

#bouton_fermer_message {
    margin-top: 4px;
    float:left;
    padding-left:10px;
}

#bouton_fermer_message:hover {
    cursor: pointer;
}

.information {
    background-color: lavender;
    color: blue;
    border-radius: 7px;
}

.attention {
    background-color: bisque;
    color: orange;
    border-radius: 7px;
}

.succes {
    background-color: aquamarine;
    color: green;
    border-radius: 7px;
}

.erreur {
    background-color: pink;
    color: red;
    border-radius: 7px;
}

p.etape i, .evidence {
    color:cornflowerblue;
}

.evidence {
    color:blue;
    font-size:larger;
    font-weight:bold;
}

.badge {
    background-color: black;
    color:white;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    border-radius:60%;
    margin-right:8px;
    font-size:larger;
}

.badge-bleu {
    background-color:cornflowerblue!important;
    color:white!important;
}

canvas#attestation {
  background: linear-gradient(45deg, #a7c7dc 0%,#85b2d3 100%);
  border-radius: 20px;
}

#barcode {
  display:none;
}

#conteneur_qrcode {
  text-align: center;
}

input[type=text] {
  background-color: lavender;
  border-radius: 4px;
}

label.identite {
  width: 150px;
  display:block;
  float:left;
}
