/* Icones des menus */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular');
  src : url('../fonts/MaterialIcons-Regular.eot'); /* Pour IE9 Compat mode */
  src : url('../fonts/MaterialIcons-Regular.eot?') format('eot'),
          url('../fonts/MaterialIcons-Regular.woff') format('woff'),
          url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
          url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------ */
/* Texte des sections */
/* Editeur de saisie de la dictée */
@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy.woff2') format('woff2');
}

.cursive {
  font-family: 'Satisfy', Helvetica, sans-serif;
  font-size: 30px;
}

.standard {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

@font-face {
  font-family: 'Rock+Salt';
  src: url('../fonts/RockSalt.woff2') format('woff2');
}

#app_name {
  font-family: 'Rock+Salt';
}
